
html{
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}

h1,h2,h3{
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.boton{
    border:1px solid black;
    padding: 7px 10px;
    border-radius: 2px;
    width: 200px;
    margin: 20px;
    cursor: pointer;
}

